@import "../../../assets/styles/variables.scss";

.banniere{
    background-color:$back-color-clair;
    display: flex;
    align-items:center;
    margin:0;
    padding:0;

    h2{
        font-family:"Arial Black";
        color:$basic-text;
        font-size:35px;
    }

    img{
        width:73px;
        height:64px;
        padding:10px 20px 10px 20px;
    }
}

hr{
    padding:0;
    margin:0;
    border: 1px solid #0b569d;
}

@media (max-width: 800px){
    .banniere{
        h2{
            font-family:"Arial Black";
            color:$basic-text;
            font-size:12px;
        }
    }

    a{
        float:right;
    }
}

a{
    float:right;
    margin-top:-65px;
    margin-right:15px;
}