<div class='banniere'>
  <img src="../../../assets/icon/logo.png"/><h2>Ping Pong entre amis</h2>
</div>
<a routerLink="accueil">
  <mat-icon aria-label="Accueil" style="fill:white;color:white;">home</mat-icon>
</a>
<hr/>
