@import '~@angular/material/theming';

$my-theme-primary: mat-palette($mat-indigo);
$my-theme-accent : mat-palette($mat-light-green, 400);
$my-theme-warn   : mat-palette($mat-red);

$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);