$basic-text:white;
$black-text:black;
$back-color-clair:#039be5;
$back-color-sombre:#006db3;
$back-color-leger:#63ccff;
$lignes-tableaux-color:white;
$green-back:#76d275;
$dark-green-back:#43a047;
$image-border:black;
$raquette-red-color:#EF9A9A;
$raquette-bla-color:#9FA8DA;