<div class="back-table-score">
    <mat-chip-list>
    </mat-chip-list>
  <br/>
  <div class="table-score-match">
    <table>
      <tr>
        <td>
          <div class="table-score-match-J1">
            <table>
              <tr>
                <th colspan=3 style="text-align:left;">{{nomJoueur1}}</th>
                <th style="text-align:right;">{{pointJ1}}</th>
              </tr>
              <tr *ngFor="let data of datatest$ | async ; let x = index">
                  <th><mat-chip [ngStyle]="{'background-color': data.Joueur_ID == j1 ? 'cyan' : 'crimson' }" >{{x+1}}</mat-chip></th>
                  <th>{{data.DateTime | date:'dd/MM/yyyy -- HH:mm:ss'}}</th>
                </tr>
            </table>
          </div>
        </td>
        <td><p class="vs">VS</p></td>
        <td>
            <div class="table-score-match-J2">
              <table>
                <tr>
                  <th style="text-align:left;">{{pointJ2}}</th>
                  <th colspan=3 style="text-align:right;">{{nomJoueur2}}</th>
                </tr>
                <tr *ngFor="let data of datatest$ | async ; let x = index">
                    <th><mat-chip [ngStyle]="{'background-color': data.Joueur_ID == j2 ? 'cyan' : 'crimson' }" >{{x+1}}</mat-chip></th>
                    <th>{{data.DateTime | date:'dd/MM/yyyy -- HH:mm:ss'}}</th>
                  </tr>
              </table>
            </div>
          </td>
      </tr>
    </table>
  </div>
</div>
