@import "../../../assets/styles/variables.scss";



.back-table-score{
    background-color:$back-color-sombre;
    .table-score-match{
        table{
            border-collapse: collapse;
            font-family:"arial";
            color:$basic-text;
            border: 0px solid $lignes-tableaux-color;
            background-color:$back-color-sombre;
            margin-right:10%;
            margin-left:10%;
            margin-top:0px;
            width:80%;
            border-radius:6px;
        }

        .vs{
            text-align:center;
            margin : auto;
            padding: auto;
            font-size:32px;
        }
    }

    .table-score-match-J1, .table-score-match-J2{
        table{
            border-collapse: collapse;
            font-family:"arial";
            color:$basic-text;
            //border: 4px solid $lignes-tableaux-color;
            background-color:$back-color-clair;
            margin-right:10%;
            margin-left:10%;
            margin-top:0px;
            width:80%;
        }

        td{
            padding:10px;
        }

        th{
            padding:10px;
        }
    }

    .table-score-match-J1{
        table{
            background-color:$raquette-red-color;
            color:$black-text;
        }
    }

    .table-score-match-J2{
        table{
            background-color:$raquette-bla-color;
            color:$black-text;
        }
    }
}