@import "../../../assets/styles/variables.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

table{
    color:$basic-text;
    text-align:center;
    //font-size: 28px;
    font-family:"Arial";
    margin:10px auto auto auto;
    padding:10px 50px 20px 50px;
    border-style:solid;
    border-width: 4px;
    border-color: $back-color-clair;
    background-color:$back-color-clair;
    width:400px;
}

p{
    text-align:center;
    font-size:24px;
    font-family:"Arial Black";
    color:$basic-text;
}

hr{
    color:$basic-text;
    border-width: 2px;
    border-style:solid;
}

.button-ok{
    table{
        color:$black-text;
        text-align:center;
        font-size: 15px;
        font-family:"Arial";
        margin:10px auto auto auto;
        padding:0 1em 0 1em;
        border-style:outset;
        border-width: 2px;
        border-color: $green-back $green-back $green-back $green-back;
        background-color:$green-back;
        border-radius: 5px;
    }
}

.button-all{
    color:$black-text;
    text-align:center;
    font-size: 15px;
    font-family:"Arial";
    margin:10px auto auto auto;
    padding:0 1em 0 1em;
    border-style:outset;
    border-width: 4px;
    background-color:$basic-text;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.choisir-text{
    font-size:20px;
}

mat-form-field{
    background-color:white;
    padding:1px 20px 1px 20px;
    max-height:4em;
    border-radius: 100px;
    border-style:solid;
    border-width: 1px;
    //border-color:$text-content;
    min-width: 400px;
    max-width: 400px;
    width:400px;
}