<p>
  PUBLIC
</p>
<table>
  <tr>
    <button mat-raised-button color="primary" (click)="getAllMacth()">
      Visualiser tous les matchs
    </button>
  </tr>
  <tr>
    <hr/>
  </tr>
  <tr>
    <th>
        <br/>
      Afficher les détails d'un match :
    </th>
  </tr>
  <tr>
      <td>        
        <br/>
        <mat-form-field>
          <mat-label>Choisir un match</mat-label>
          <mat-select [(ngModel)]="selectedPersonId">
            <mat-option *ngFor="let match of matchs" [value]="match.id">
                {{match.matchNom}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
        <br/>
        <!--<ng-select class="custom" [items]="matchs"
           bindLabel="matchNom" 
           bindValue="id"
           [(ngModel)]="selectedPersonId">
        </ng-select>-->

        <button mat-flat-button color="accent" (click)="getMacth()">Voir le match</button>
        
      </td>
  </tr>
</table>
