<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<app-banniere></app-banniere>
<!-- <app-accueil-public></app-accueil-public>
<app-table-score-match></app-table-score-match>
<br/>
<app-table-score-complet></app-table-score-complet> -->
<router-outlet></router-outlet>
