<div class="back-table-score">
  <br/>
  <div class="table-score">
    <table>
      <tr>
        <th colspan=2>Organisation</th>

        <th colspan=3></th>
        <th class="border-middle-column">J1</th>
        <th class="border-middle-column">-</th>
        <th class="border-middle-column">J2</th>
        <th colspan=2 class="border-middle-column"></th>
        <th colspan=2>Arbitre</th>
      </tr>
      <tr *ngFor="let data of datatest$ | async">
        <td class="td-img-drapeau border-down">
          <img src="../../../assets/drapeaux/{{data.organisation.Pays | uppercase}}.png"/>
        </td>
        <td class="border-right-down">
          {{data.organisation.Nom}}
        </td>
        <td class="td-img-spoiler border-down">
            <img class="bouton-spoiler" src="../../../assets/icon/spoiler.png"/>
        </td>
        <td class="td-img-drapeau border-down">
            <img src="../../../assets/drapeaux/{{data.joueur1.Nationalite | uppercase}}.png"/>
        </td>
        <td class="border-down">
            {{data.joueur1.Prenom}} {{data.joueur1.Nom}}
        </td>
        <td class="align-center border-down">
            {{data.score_j1.totalPoints}}
        </td>
        <td class="align-center border-down">
            -
        </td>
        <td class="align-center border-down">
            {{data.score_j2.totalPoints}}
        </td>
        <td class="align-right border-down">
            {{data.joueur2.Prenom}} {{data.joueur2.Nom}}
        </td>
        <td class="td-img-drapeau border-right-down">
            <img src="../../../assets/drapeaux/{{data.joueur2.Nationalite | uppercase}}.png"/>
        </td>
        <td class="td-img-drapeau border-down">
            <img src="../../../assets/drapeaux/{{data.arbitre.Nationalite | uppercase}}.png"/>
        </td>
        <td class="border-down">
            {{data.arbitre.Prenom}} {{data.arbitre.Nom}}
        </td>
      </tr>
    </table>
  </div>
</div>