@import "../../../assets/styles/variables.scss";

.back-table-score{
    background-color:$back-color-sombre;
    .table-score{
        
        border-radius:10px;

        table{
            border-collapse: collapse;
            font-family:"arial";
            color:$basic-text;
            border: 4px solid $back-color-sombre;
            background-color:$back-color-clair;
            border-radius:10px;
            margin-right:10%;
            margin-left:10%;
            margin-top:0px;
            width:80%;
        }

        th{
            border-style: solid;
            border-radius:10px;
            border-color: $back-color-sombre;
            border-width: 0px 0px 4px 0px;
            font-family:"arial black";
        }

        td{
        
            .bouton-spoiler{
                width:32px;
                height:16px;
            }
            
            img{
                width:24px;
                height:16px;
                padding:2px 5px 2px 5px;
            }

            font-family:"arial";
        }
        

        .border-left-down{
            border-color:$back-color-sombre;
            border-style:solid;
            border-width: 0px 0px 0px 4px;
            border-radius:10px;
        }

        .border-right-down{
            border-color:$back-color-sombre;
            border-style:solid;
            border-width: 0px 4px 0px 0px;
            border-radius:10px;
        }

        .border-down{
            border-color:$back-color-sombre;
            border-style:solid;
            border-width: 0px 0px 0px 0px;
            border-radius:10px;
        }

        .align-right{
            text-align: right;
        }
    
        .align-center{
            text-align: center;
        }
    
        .td-img-drapeau{
            width:26px;
            text-align:center;
            padding:5px;

            img{
                border:1px solid $image-border;
                padding:0;
            }
        }
        
        .td-img-spoiler{
            width:44px;
        }
    }
}



@media (max-width: 800px){
    .td-img-drapeau{
        width:16px;
        text-align:center;
        padding:0px;

        img{
            border:none;
            padding:0;
        }
    }

    td{
        
        .bouton-spoiler{
            width:16px;
            height:8px;
        }
        
        img{
            width:12px;
            height:8px;
            padding:0px;
        }

        font-family:"arial";
    }

    table{
        font-size:9px;
        font-family:"arial";
        color:$basic-text;
        border: 4px solid $back-color-sombre;
        background-color:$back-color-clair;
        margin-right:0;
        margin-left:0;
        margin-top:0;
        width:100%;
    }
}